

.cards {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
   


.card {


    .card-content{
        background-color: #252525;
        padding: 20px 30px;
        margin:5px;
        .card-heading {
            h1 {
                font-size: 70px;
                font-weight: 200;
               text-align: center;
               color: white;

            }
            p {
                font-size: 40px;
                font-weight: 200;
               text-align: center;
               color: white;

            }
        }
    }
}}